<ion-header>

  <ion-navbar>
    <ion-title>Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item>
    <ion-label floating>Collection </ion-label>
    <ion-input type="text" [(ngModel)]="tb_collection"></ion-input>
</ion-item>
<br><br>
<p>Firestore data push  </p>
<ion-item>
    <ion-label floating>Document value 1 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_value1"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Document value 2 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_value2"></ion-input>
</ion-item>
<button ion-button (click)="push_data_fs()">Push data</button>

<br><br><br><br>
<p>Firestore data pull  </p>
<ion-item>
    <ion-label floating>Fieldname 1 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_fieldName1"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Fieldvalue 1 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_fieldValue1"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Fieldname 2 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_fieldName2"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating>Fieldvalue 2 </ion-label>
    <ion-input type="text" [(ngModel)]="tb_fs_fieldValue2"></ion-input>
</ion-item>
<button ion-button (click)="pull_data_fs_simple()">Pull data simple query</button>
<button ion-button (click)="pull_data_fs_compound()">Pull data compound query</button>

<br><br>
Test string : {{testtring}}

      <li *ngFor="let item of items | async">
        {{ item.artist }} {{ item.title }}
      </li>

<br><br>
Firebase file upload
<ion-item>
    <ion-label floating> Upload location</ion-label>
    <ion-input type="text" [(ngModel)]="tb_upload_location"></ion-input>
</ion-item>
<ion-item>
    <ion-label floating> Upload string</ion-label>
    <ion-input type="text" [(ngModel)]="tb_upload_string"></ion-input>
</ion-item>
<button ion-button (click)="file_upload()">File upload</button>
<button ion-button (click)="file_download()">File download</button>
<br>
<img [src]="downloaded | async" *ngIf="downloaded"/>
<br>
<button ion-button (click)="take_photo()">Take Photo</button>
<img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
<button ion-button (click)="upload_photo()">Upload Photo</button>
<br>

</ion-content>
